
.tab {
  -fx-background-color:linear-gradient(blue,lightblue,white,lightblue,black);
  -fx-background-insets:2px 1px 0px 0px;
}

.tab:top:disabled {
  -fx-background-color:linear-gradient(darkred,red,pink,white,pink,red,firebrick);
  -fx-background-insets:2px 1px 0px 0px;
  -fx-background-radius:6px 6px 0px 0px,4px 4px 0px 0px,2px 2px 0px 0px;
}

.tab:top:disabled:hover {
  -fx-background-color:linear-gradient(darkgray,gray,lightgray,white,lightgray,gray,black);
  -fx-background-insets:2px 1px 0px 0px;
}

.tab:top:disabled .tab-label {
  -fx-effect:dropshadow(three-pass-box,darkgray,5,0.0,0,1);
  -fx-text-fill:brown;
  -fx-scale-x:0.9;
  -fx-scale-x:0.95;
}

.tab:top:hover {
  -fx-background-color:linear-gradient(darkgreen,green,white,cornflowerblue,white,green,black);
  -fx-background-insets:2px 1px 0px 0px;
  -fx-background-radius:6px 6px 0px 0px,4px 4px 0px 0px,2px 2px 0px 0px;
}

.tab:top:hover .tab-label {
  -fx-effect:dropshadow(three-pass-box,black,5,0.0,0,1);
  -fx-text-fill:navy;
  -fx-scale-x:1.1;
  -fx-scale-x:1.05;
}

.tab:top:selected {
  -fx-background-color:linear-gradient(green,lightgreen,white,lightgreen,green);
  -fx-background-insets:2px 1px 0px 0px;
  -fx-background-radius:6px 6px 0px 0px,4px 4px 0px 0px,2px 2px 0px 0px;
}

.tab:top:selected .tab-label {
}

.tab:top:selected .tab-label .text {
  -fx-fill:black;
}

.tab-pane {
  -fx-background-color:linear-gradient(white,lightsteelblue,steelblue,blanchedalmond);
}

.tab-pane:top .tab-content-area {
  -fx-border-color:darkgray;
  -fx-border-radius:2;
}

.tab-pane:top .tab-header-area {
  /* something here */
}

.tab-pane:top .tab-header-area .tab-header-background {
  -fx-background-color:transparent;
}

#TabContent {
}

.TabContent1 {
}
.TabContent1 .tab-header-area .tab-header-background {
  -fx-background-color:linear-gradient(lightgray,gray,black,black);
}
.TabContent1 .tab .tab-label .text {
  -fx-font:bold Tahoma;
}


.TabContent2 {
}
.TabContent2 .tab .tab-label .text {
  -fx-font:Tahoma;
}

.TabContent3 {
}

.TabContent4 {
}
